.badge {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-family: "Domine";
}

.light {
  background-color: var(--white);
  color: var(--black);
}

.dark {
  background-color: var(--black);
  color: var(--white);
}

.warning {
  background-color: var(--warn-base);
  color: var(--warn-shade-700);
}

.danger {
  background-color: var(--danger-base);
  color: var(--danger-shade-700);
}

.success {
  background-color: var(--success-base);
  color: var(--success-shade-700);
}

.link {
  background-color: var(--secondary-shade-700);
  color: var(--secondary-base);
}

.info {
  background-color: var(--info-base);
  color: var(--info-shade-800);
}