.title {
  font-family: "Montserrat Alternates";
  margin: 0;
  color: var(--selective-yellow-tint-200)
}

.company, .duration {
  font-family: "Domine";
  margin: 0;
  color: var(--selective-yellow-tint-600)
}