.title {
  font-family: "Montserrat Alternates";
  margin: 0;
  color: var(--selective-yellow-tint-200)
}

.company, .duration {
  font-family: "Domine";
  margin: 0;
  color: var(--selective-yellow-tint-600)
}

.app {
  color: var(--field-time-green-tint-400);
  font-weight: bold;
  font-style: italic;
}

.appDescription {
  margin-top: 0;
}

.apps {
  list-style-type: none;
}