.title {
  font-family: "Montserrat Alternates";
  margin: 0;
  color: var(--warn-base)
}

.company, .duration {
  font-family: "Domine";
  margin: 0;
  color: var(--warn-tint-400)
}

.app {
  color: var(--info-tint-300);
  font-weight: bold;
  font-style: italic;
}

.appDescription {
  margin-top: 0;
}

.apps {
  list-style-type: none;
}