.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.container h4 {
  font-family: "Montserrat Alternates";
  color: var(--primary-tint-600);
  display: block;
  margin: 0.5rem 0;
  text-align: center;
}

.badges {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}