.header {
  width: 100%;
  margin-inline: auto;
  z-index: 50;
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  background-color: var(--secondary-shade-700)
}

.main {
  max-width: 500px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  position: relative
}

.section {
  padding: 3rem 1rem 1rem 1rem;
}

.title {
  font-family: "Montserrat Alternates";
  color: var(--primary-base);
  border-bottom: 1px dotted
}

.downArrow {
  font-size: 4rem;
  color: var(--success-base);
  position: absolute;
  bottom: 0;
}
