@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Permanent+Marker&display=swap');

:root {
  /* White */
  --white: #ffffff;
  --black: #111111;
  /* Primary */
  --primary-base: #edb183;
  --primary-shade-100: #d59f76;
  --primary-shade-200: #be8e69;
  --primary-shade-300: #a67c5c;
  --primary-shade-400: #8e6a4f;
  --primary-shade-500: #775942;
  --primary-shade-600: #5f4734;
  --primary-shade-700: #473527;
  --primary-shade-800: #2f231a;
  --primary-shade-900: #18120d;
  --primary-tint-100: #efb98f;
  --primary-tint-200: #f1c19c;
  --primary-tint-300: #f2c8a8;
  --primary-tint-400: #f4d0b5;
  --primary-tint-500: #f6d8c1;
  --primary-tint-600: #f8e0cd;
  --primary-tint-700: #fae8da;
  --primary-tint-800: #fbefe6;
  --primary-tint-900: #fdf7f3;
  /* Secondary */
  --secondary-base: #6a4c93;
  --secondary-shade-100: #5f4484;
  --secondary-shade-200: #553d76;
  --secondary-shade-300: #4a3567;
  --secondary-shade-400: #402e58;
  --secondary-shade-500: #35264a;
  --secondary-shade-600: #2a1e3b;
  --secondary-shade-700: #20172c;
  --secondary-shade-800: #150f1d;
  --secondary-shade-900: #0b080f;
  --secondary-tint-100: #795e9e;
  --secondary-tint-200: #8870a9;
  --secondary-tint-300: #9782b3;
  --secondary-tint-400: #a694be;
  --secondary-tint-500: #b5a6c9;
  --secondary-tint-600: #c3b7d4;
  --secondary-tint-700: #d2c9df;
  --secondary-tint-800: #e1dbe9;
  --secondary-tint-900: #f0edf4;
  /* Danger */
  --danger-base: #ff595e;
  --danger-shade-100: #e65055;
  --danger-shade-200: #cc474b;
  --danger-shade-300: #b33e42;
  --danger-shade-400: #993538;
  --danger-shade-500: #802d2f;
  --danger-shade-600: #662426;
  --danger-shade-700: #4d1b1c;
  --danger-shade-800: #331213;
  --danger-shade-900: #1a0909;
  --danger-tint-100: #ff6a6e;
  --danger-tint-200: #ff7a7e;
  --danger-tint-300: #ff8b8e;
  --danger-tint-400: #ff9b9e;
  --danger-tint-500: #ffacaf;
  --danger-tint-600: #ffbdbf;
  --danger-tint-700: #ffcdcf;
  --danger-tint-800: #ffdedf;
  --danger-tint-900: #ffeeef;
  /* Warn */
  --warn-base: #ffca3a;
  --warn-shade-100: #e6b634;
  --warn-shade-200: #cca22e;
  --warn-shade-300: #b38d29;
  --warn-shade-400: #997923;
  --warn-shade-500: #80651d;
  --warn-shade-600: #665117;
  --warn-shade-700: #4d3d11;
  --warn-shade-800: #33280c;
  --warn-shade-900: #1a1406;
  --warn-tint-100: #ffcf4e;
  --warn-tint-200: #ffd561;
  --warn-tint-300: #ffda75;
  --warn-tint-400: #ffdf89;
  --warn-tint-500: #ffe59d;
  --warn-tint-600: #ffeab0;
  --warn-tint-700: #ffefc4;
  --warn-tint-800: #fff4d8;
  --warn-tint-900: #fffaeb;
  /* Success */
  --success-base: #8ac926;
  --success-shade-100: #7cb522;
  --success-shade-200: #6ea11e;
  --success-shade-300: #618d1b;
  --success-shade-400: #537917;
  --success-shade-500: #456513;
  --success-shade-600: #37500f;
  --success-shade-700: #293c0b;
  --success-shade-800: #1c2808;
  --success-shade-900: #0e1404;
  --success-tint-100: #96ce3c;
  --success-tint-200: #a1d451;
  --success-tint-300: #add967;
  --success-tint-400: #b9df7d;
  --success-tint-500: #c5e493;
  --success-tint-600: #d0e9a8;
  --success-tint-700: #dcefbe;
  --success-tint-800: #e8f4d4;
  --success-tint-900: #f3fae9;
  /* Info */
  --info-base: #1982c4;
  --info-shade-100: #1775b0;
  --info-shade-200: #14689d;
  --info-shade-300: #125b89;
  --info-shade-400: #0f4e76;
  --info-shade-500: #0d4162;
  --info-shade-600: #0a344e;
  --info-shade-700: #08273b;
  --info-shade-800: #051a27;
  --info-shade-900: #030d14;
  --info-tint-100: #308fca;
  --info-tint-200: #479bd0;
  --info-tint-300: #5ea8d6;
  --info-tint-400: #75b4dc;
  --info-tint-500: #8cc1e2;
  --info-tint-600: #a3cde7;
  --info-tint-700: #badaed;
  --info-tint-800: #d1e6f3;
  --info-tint-900: #e8f3f9;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--info-shade-800);
  padding: 0;
  margin: 0;
  /*
  Source - https://stackoverflow.com/a/32861765
  Posted by shunryu111, modified by community. See post 'Timeline' for change history
  Retrieved 2026-03-27, License - CC BY-SA 4.0
  */
  background-size: 20px 20px;
  background-image:
    linear-gradient(to right, var(--info-shade-700) 1px, transparent 1px),
    linear-gradient(to bottom, var(--info-shade-700) 1px, transparent 1px);
}

p, ul {
  font-family: "Domine";
  color: var(--primary-tint-800);
  font-size: 0.875rem;
}